.profile_menu{
    width: 25%;
    height: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: grey;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;

}
#profile_data_img{
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
}

#profile_data{
    margin-top: 1%;
    text-align: center;
}

#profile_data_heading{
    margin-left: 5%;
}

/* ul>li>ul{
    display: none;
} */

ul>li:hover>ul{
    display: block;
}

.icons{
    font-size:30px !important;
    margin-left: 5%;
}

.details{
    margin-left: 25%;
    margin-right: 5%;
}

.menu{
    width: 100%;
    position: fixed;
    background-color: grey;
    top: 0;
    margin: 0;
    margin: 0;
    padding: 0;
}

.Menu_scroll{
    display: block; 
    /* background-color: blue;  */
    float:left; 
    padding: 10px;
    text-align: center;
    min-width: 18%;
    max-width: 20%;
    margin: 0px;
}

.Menu_scroll:hover{
    background-color: rgb(110, 210, 243);
}

.Current{
    background-color: aliceblue;
    background-color: rgb(110, 210, 243);
}

.Current:hover{
    background-color: crimson;
}