*:focus {
    outline: 0 !important;
}

body {
    background-color: #090000;
}

.outer-body {
    background-color: #1c1e1f;
    margin-top: 5%;
    color: #98a6a6;
    height: 80vh;
    filter: drop-shadow(2px 4px 6px black);
}

.highlight {
    color: #00c47d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1%;
}

.heading {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
    margin-top: 3%;
}

.setter {
    background-color: #98a6a6;
    width: 40%;
    margin-left: 1%;
}

.internal-hr {
    background-color: #00c47d;
    width: 30%;
}

hr {
    background-color: #98a6a6;
    width: 95%;
}

.education {
    margin-left: 1%;
}

.education div {
    font-size: large;
    margin-left: 1%;
}

ul {
    list-style-type: none;
}

.background-icon {
    background-color: #00c47d;
    color: #1c1e1f;
    width: 100%;
    font-size: 5vh;
}

.vertical-center {
    min-height: 80%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: flex-end; */
}

.sidebar-top {
    font-size: 3vh;
    margin-top: 3vh;
    padding: 5%;
    /* justify-self: flex-end; */
    /* align-content: flex-end; */
    align-self: flex-start;
}

.sidebar-top:hover {
    transition: 0.5s;
    color: #00c47d;
    cursor: pointer;
}

.sidebar {
    font-size: 3vh;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    /* padding: inherit; */
    align-self: center;
    /* justify-items: center; */
    /* align-self: start; */
}

.sidebar-child {
    font-size: 3vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    /* padding: inherit; */
    align-self: center;
}

.sidebar-child:hover {
    transition: 0.5s;
    color: #00c47d;
    cursor: pointer;
}

.sidebar:hover {
    /* padding: inherit; */
}

.sidebar-end {
    font-size: 3vh;
    margin-bottom: 3vh;
    /* justify-self: center;
    align-content: center;
    place-self: center; */
    align-self: flex-end;
}

.sidebar-end:hover {
    transition: 0.5s;
    color: #00c47d;
    cursor: pointer;
}

.internal-scroll {
    overflow-y: scroll;
    height: 80vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.internal-scroll::-webkit-scrollbar {
    overflow-y: scroll;
    height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #98a6a6;
}

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #98a6a6;
}

#style-1::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00c47d;
}

.centered {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: '>';
    list-style-position: outside;
    list-style-image: none;
    color: #00c47d;
}

.normal-color {
    color: #98a6a6;
}

div.me {
    background-image: url("../img/dp.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 90vh;
    filter: drop-shadow(2px 4px 6px black) brightness(80%);
}

#contact {
    display: none;
}

.social-media {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 3em;
}

.social-media div:hover {
    color: #00c47d;
    transition: 0.5s;
    cursor: pointer;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

label {
    color: white;
}

button {
    background-color: #00c47d;
    color: #1c1e1f;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 2px solid #00c47d;
    border-radius: 5px;
    font-size: 1.2em;
    outline: none;
}

button:hover {
    background-color: #1c1e1f;
    color: #00c47d;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 2px solid #00c47d;
    border-radius: 5px;
    font-size: 1.2em;
}

input {
    background-color: #1c1e1f;
    color: #00c47d;
    border: none;
    /* border-radius: 15%; */
    border-bottom: 2px solid#333333;
    margin-bottom: 4vh;
}

input:focus {
    border-bottom: 2px solid #00c47d;
    outline-width: 0;
    transition: all 0.5s;
}

textarea {
    background-color: #1c1e1f;
    color: #00c47d;
    border: none;
    /* border-radius: 15%; */
    border-bottom: 2px solid#333333;
    margin-bottom: 4vh;
}

textarea:focus {
    border-bottom: 2px solid #00c47d;
    outline-width: 0;
    transition: all 0.5s;
}

textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #333333;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #333333;
}

textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #333333;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #333333;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #333333;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #333333;
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: #333333;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #333333;
}